
.caja1{
    margin-block-start: 8%;
    margin-right:60%;
    margin-top: 3%;
}
.acciones{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
}

.salida{
    margin-top: -44%;
    margin-left: 60%;
}
.fondo{
    background-color: transparent;
    color: black;
}