<mat-toolbar color="primary" class="menu">
    <span>
        <a mat-button routerLink="/home" class="boton">
            <mat-icon>fact_check</mat-icon>WPA_1001
        </a>
    </span>
    <div>
        <a mat-button routerLink="temperatura" class="boton">Temperatura
        </a>
    </div>
    <div>
        <a mat-button routerLink="/multiplicacion" class="boton">Multiplicacion
        </a>
    </div>
    <div>
        <a mat-button routerLink="/cinepolis" class="boton">Cinepolis
        </a>
    </div>
    <div>
        <a mat-button routerLink="/agregar" class="boton">Examen_Parcial_2
        </a>
    </div>
</mat-toolbar>